<table class="show-table" align="center">
  <tr>
    <td>
      <%= image_tag model.image.url %>

      <%= render_heading(h(model.name),
        :actions => is_editor_of?(model) ? icon_link_to(:edit, t(:edit), edit_make_model_path(model.make, model)) : nil) %>
    </td>
    <td>
      <%= render_field(t(:manufacturer, :scope => [ :marketplace ]), link_to_resource(model.manufacturer)) %>

      <%= render_field(t(:make, :scope => [ :marketplace ]), link_to_resource(model.make)) %>

      <%= render_field(t(:status), e(model.production_status, t(:unknown))) %>

      <%= render_field(t(:technology_level, :scope => [ :marketplace, :models ]), model.technology_level) %>

      <%= render_field(t(:rating, :scope => [ :content ]), render_rating(model)) %>

      <%= render_field(tp(:review, :scope => [ :content ]), model.reviews.length,
        :actions => model.reviews.any? ? link_to(t(:view), model_reviews_path(model)) : nil) %>
    </td>
  </tr>
</table>

<% unless model.description.blank? %>
  <%= render_formatted(h(model.description)) %>
<% end %>

<%= render_field(tp(:feature, :scope => [ :marketplace ]),
  model.features.map { |feature| feature_item(feature, :type => true) },
  :actions => is_editor_of?(model) ? icon_link_to(:edit, t(:edit), model_features_path(model)) : nil) %>

<%= render_field(tp(:product, :scope => [ :marketplace ]), model.products.length,
  :actions => link_to(t(:view), model_products_path(model))) %>

<%= render_heading(tp(:article, :scope => [ :content ]), :actions =>
  is_editor_of?(model) ? link_to(t(:view), model_articles_path(model)) : nil) %>

<% for_all_by_locale(model.articles) do |article| %>
  <%= render_article(article) %>
<% end %>
