<table class="show-table">
  <tr>
    <td>
      <%= image_tag make.image.url %>
    </td>
    <td>
      <%= render_field(t(:name), h(make.name)) %>

      <%= render_field(t(:manufacturer, :scope => [ :marketplace ]), link_to_resource(make.manufacturer)) %>

      <%= render_field(t(:status), e(make.production_status, t(:unknown))) %>

      <%= render_field(t(:rating, :scope => [ :content ]), render_rating(make)) %>

      <%= render_field(tp(:review, :scope => [ :content ]), make.reviews.length,
        :actions => make.reviews.any? ? link_to(t(:view), url_for(:anchor => 'reviews')) : nil) %>
    </td>
  </tr>
</table>

<% unless make.description.blank? %>
  <%= render_text_area(h(make.description)) %>
<% end %>

<% if make.valid_feature_types? %>
  <%= render_field(tp(:feature, :scope => [ :marketplace ]),
    make.features.map { |feature| feature_item(feature, :type => true) }) %>
<% end %>

<%= render_heading(tp(:model, :scope => [ :marketplace ]), :actions => link_to(t(:view_all), make_models_path(make))) %>

<%= render_field((is_editor_of?(make) ? make.models(:limit => 10) : make.available_models(:limit => 10)).map { |model| link_to_resource(model) }) %>

<%= render_heading(tp(:article, :scope => [ :content ]), :actions =>
  is_editor_of?(make) ? link_to(t(:view_all), make_articles_path(make)) : nil) %>

<% for_each_by_locale(make.articles) do |article| %>
  <%= render_article(article) %>
<% end %>