<table class="show-table" align="center">
  <tr>
    <td>
      <%= image_tag make.image.url %>

      <%= render_heading(h(make.name),
        :actions => [ { :if => is_editor_of?(make), :allow => icon_link_to(:edit, t(:edit), edit_manufacturer_make_path(make.manufacturer, make)) } ]) %>
    </td>
    <td>
      <%= render_field(t(:manufacturer, :scope => [ :marketplace ]), link_to_resource(make.manufacturer)) %>

      <%= render_field(t(:status), e(make.production_status, t(:unknown))) %>

      <%= render_field(t(:rating, :scope => [ :content ]), render_rating(make)) %>

      <%= render_field(tp(:review, :scope => [ :content ]), make.reviews.length,
        :actions => [ { :if => make.reviews.any?, :allow => link_to(t(:view), make_reviews_path(make)) } ]) %>
    </td>
  </tr>
</table>

<% unless make.description.blank? %>
  <%= render_formatted(h(make.description)) %>
<% end %>

<%= render_field(tp(:feature, :scope => [ :marketplace ]),
  make.features.map { |feature| feature_item(feature, :type => true) },
  :actions => [ { :if => is_editor_of?(make), :allow => icon_link_to(:edit, t(:edit), make_features_path(make)) } ]) %>

<%= render_field(tp(:model, :scope => [ :marketplace ]), make.available_models.length,
  :actions => [ { :allow => link_to(t(:view), make_models_path(make)) } ]) %>

<% if is_editor_of?(make) %>
  <%= render_field(tp(:article, :scope => [ :content ]), make.articles.length,
  :actions => [ { :allow => link_to(t(:view), make_articles_path(make)) } ]) %>
<% end %>

<% for_all_by_locale(make.articles) do |article| %>
  <%= render_article(article) %>
<% end %>