<p>
  <b>Address:</b>
  <%=h @cost.address_id %>
</p>

<p>
  <b>Product:</b>
  <%=h @cost.product_id %>
</p>

<p>
  <b>Amount:</b>
  <%=h @cost.amount %>
</p>


<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
