<table class="show-table">
  <tr>
    <td>
      <%= render_field(image_tag(product.image.url)) %>
    </td>
    <td>
      <%= render_field(t(:name), h(product.name)) %>

      <%= render_field(t(:sku, :scope => [ :marketplace ]), h(product.sku)) %>

      <%= render_field(t(:manufacturer, :scope => [ :marketplace ]), link_to_resource(product.manufacturer)) %>

      <%= render_field(t(:make, :scope => [ :marketplace ]), link_to_resource(product.make)) %>

      <%= render_field(t(:model, :scope => [ :marketplace ]), link_to_resource(product.model)) %>

      <%= render_field(t(:status), e(product.production_status, t(:unknown))) %>

      <%= render_field(t(:technology_level, :scope => [ :marketplace, :products ]), render_technology_level(product)) %>

      <%= render_field(t(:rating, :scope => [ :content ]), render_rating(product)) %>

      <%= render_field(tp(:review, :scope => [ :content ]), product.reviews.length,
        :actions => product.reviews.any? ? link_to(t(:view), url_for(:anchor => 'reviews')) : nil) %>

      <%= render_field(t(:price, :scope => [ :marketplace ]), render_price(product, current_portal(Vendor))) %>
      
      <% if is_consumer? %>
        <%= render_field(render_watching(product)) %>
      <% end %>
    </td>
  </tr>
</table>

<% unless product.description.blank? %>
  <%= render_text_area(h(product.description)) %>
<% end %>

<% if product.features_featurings.any? %>
  <%= render_heading(tp(:feature, :scope => [ :marketplace ])) %>
  <div class="features">
    <%= render_features(product) %>
  </div>
<% end %>

<%= render_heading(tp(:article, :scope => [ :content ]), :actions =>
  is_editor_of?(product) ? link_to(t(:view_all), product_articles_path(product)) : nil) %>

<% for_each_by_locale(product.articles) do |article| %>
  <%= render_article(article) %>
<% end %>

<% if is_supplier? %>
  <%= render_heading(tp(:cost, :scope => [ :marketplace ]), :actions =>
    is_editor_of?(product) ? link_to(t(:view_all), product_costs_path(product)) : nil) %>
<% end %>
