<table class="show-table" align="center">
  <tr>
    <td>
      <%= render_field(image_tag(product.image.url)) %>

      <%= render_heading(h(product.full_name),
        :actions => is_editor_of?(product) ? icon_link_to(:edit, t(:edit), edit_model_product_path(product.model, product)) : nil) %>
    </td>
    <td>
      <%= render_field(t(:sku, :scope => [ :marketplace ]), h(product.sku)) %>

      <%= render_field(t(:manufacturer, :scope => [ :marketplace ]), link_to_resource(product.manufacturer)) %>

      <%= render_field(t(:make, :scope => [ :marketplace ]), link_to_resource(product.make)) %>

      <%= render_field(t(:model, :scope => [ :marketplace ]), link_to_resource(product.model)) %>

      <%= render_field(t(:status), e(product.production_status, t(:unknown))) %>

      <%= render_field(t(:technology_level, :scope => [ :marketplace, :products ]), render_technology_level(product)) %>

      <%= render_field(t(:rating, :scope => [ :content ]), render_rating(product)) %>

      <%= render_field(tp(:review, :scope => [ :content ]), product.reviews.length,
        :actions => product.reviews.any? ? link_to(t(:view), product_reviews_path(product)) : nil) %>

      <%= render_field(t(:price, :scope => [ :marketplace ]), render_price(product, current_portal(Vendor))) %>
      
      <% if is_consumer? %>
        <%= render_field(render_watching(product)) %>
      <% end %>
    </td>
  </tr>
</table>

<% unless product.description.blank? %>
  <%= render_formatted(h(product.description)) %>
<% end %>

<%= render_field(tp(:feature, :scope => [ :marketplace ]),
  product.features.map { |feature| feature_item(feature, :type => true) },
  :actions => is_editor_of?(product) ? icon_link_to(:edit, t(:edit), product_features_path(product)) : nil) %>

<%= render_heading(tp(:article, :scope => [ :content ]), :actions =>
  is_editor_of?(product) ? link_to(t(:view), product_articles_path(product)) : nil) %>

<% for_all_by_locale(product.articles) do |article| %>
  <%= render_article(article) %>
<% end %>
