<% title tp(:product, :scope => [ :marketplace ]) %>

<% tabber_init %>

<script type="text/javascript">
  function toggle_make_models(box, make_id, model_ids, check_all_id) {
    if (box.checked) {
      Element.show('make_models_' + make_id);
    } else {
      Element.hide('make_models_' + make_id);
      $(check_all_id).checked = false
      model_ids.each(function(model_id) {
        $('models_' + model_id + '').checked = false;
      })
    }
  }
</script>

<div class="searcher">
  <% form_tag results_products_path, :method => :post do %>
    <% tabber_tag do %>
      <% tabber_tab_tag(:title => t(:brand, :scope => [ :marketplace ])) do %>
        <table class="searcher-table full-width">
          <tr>
            <td class="searcher-td searcher-left-td">
              <%= t(:make, :scope => [ :marketplace ]) %>
            </td>
            <td class="searcher-td">
              <div class="search-box-list">
                <ul>
                  <% Make.available_for_vendor(@vendor).sort { |x, y| x.name <=> y.name }.each do |make| %>
                    <li>
                      <%= check_box_tag("makes[#{make.id}]", "1", check_param([ :makes, "#{make.id}" ], false), { :onclick => "toggle_make_models(this, #{make.id}, [#{make.available_models(@vendor).collect { |model| model.id }.join(',')}], 'check_all_#{make.name.underscore.gsub(/[^\w]/, '_')}')" }) %>
                      <%= link_to_resource(make) %>
                    </li>
                  <% end %>
                </ul>
                <br />
              </div>
            </td>
          </tr>
          
          <tr>
            <td class="searcher-td searcher-left-td">
              <%= t(:model, :scope => [ :marketplace ]) %>
            </td>
            <td class="searcher-td">
              <% Make.available_for_vendor(@vendor).sort { |x, y| x.name <=> y.name }.each do |make| %>
                <div id="<%= "make_models_#{make.id}" %>" class="searcher-make-models" style="display: <%= check_param([ :makes, "#{make.id}" ], false) ? 'block' : 'none' %>">
                  <p>
                    <%= link_to_resource(make) %>
                    <%= check_box_tag("check_all_#{make.name.underscore.gsub(/[^\w]/, '_')}", "1", check_param([ "check_all_#{make.name.underscore.gsub(/[^\w]/, '_')}" ], false), { :onclick => "[#{make.available_models(@vendor).collect { |model| model.id }.join(',')}].each(function(model_id) { $('models_' + model_id + '').checked = $(check_all_#{make.name.underscore.gsub(/[^\w]/, '_')}).checked })" }) %>
                    (<%=t :all %>)
                  </p>
                  <%= render_separator %>
                  <div class="search-box-list">
                    <ul>
                      <% make.available_models(@vendor).each do |model| %>
                        <li>
                          <%= check_box_tag("models[#{model.id}]", 1, check_param([ :models, "#{model.id}" ], false)) %>
                          <%= link_to_resource(model) %>
                        </li>
                      <% end %>
                    </ul>
                    <br />
                  </div>
                </div>
              <% end %>
            </td>
          </tr>
        </table>
      <% end %>

      <% tabber_tab_tag(:title => t(:popular, :scope => [ :marketplace ])) do %>
        <%= feature_search_select(:features, :features => Feature.highlighted, :root_tabs => false) %>
      <% end %>
  
      <%= feature_search_select(:features) %>
    <% end %>
    
    <%= render_submit t(:search) %>
  <% end %>
</div>
  