<% javascript('feature_search', :plugin => 'marketplace') %>

<% features.each do |feature| %>
  <% label_with_hint = link_to_function(content_tag(:span, h(feature.name), :class => 'feature-name'), "hint_window('feature', '#{summary_feature_path(feature, :anchor => feature.name.underscore)}', 400, 500);", :title => t(:more_info, :scope => [ :marketplace ])) %>
  <% case feature.feature_type -%>
  <%- when FeatureType[:group] -%>
    <% sub_features = feature.searchable_children(is_supplier?) -%>
    <% if sub_features.any? %>
      <% tabber_tab_tag(:title => feature.name) do %>
        <% unless defined?(root_tabs) && root_tabs %>
          <p class="feature-group-name"><%= label_with_hint %></p>
        <% end %>
        <div class="feature-group">
          <%= render :partial => 'features/search_select', :locals => {
            :features => sub_features,
            :f => f,
            :options => options,
            :html_options => html_options
          } %>
        </div>
      <% end %>
    <% end %>
  <%- when FeatureType[:single_select], FeatureType[:multiple_select] -%>
    <% sub_features = feature.searchable_children(is_supplier?) -%>
    <% if sub_features.any? %>
      <p class="feature-group-name"><%= label_with_hint %></p>
      <div class="feature-group">
        <% f.fields_for(feature.id.to_s) do |feature_f| %>
          <%= render :partial => 'features/search_select', :locals => {
            :features => sub_features,
            :f => feature_f,
            :options => options,
            :html_options => html_options
          } %>
        <% end %>
      </div>
    <% end %>
  <%- when FeatureType[:option_group] -%>
    <% sub_features = feature.searchable_children(is_supplier?) -%>
    <% if sub_features.any? %>
      <p class="feature-group-name"><%= label_with_hint %></p>
      <div class="feature-group">
        <%= render :partial => 'features/search_select', :locals => {
          :features => sub_features,
          :f => f,
          :options => options,
          :html_options => html_options
        } %>
      </div>
    <% end %>
  <%- when FeatureType[:option] -%>
    <p class="form-field">
      <%= f.check_box(feature.id.to_s, :layout => false) %>
      <%= label_with_hint %>
    </p>
  <%- when FeatureType[:comparable] -%>
    <% f.fields_for(feature.id.to_s) do |feature_f| %>
      <p class="form-field">
        <%= label_with_hint %>:
        <%= feature_f.select("compare", [ [ t(:equals, :scope => [ :marketplace, :comparisons ]), :equals ],
          [ t(:less_than, :scope => [ :marketplace, :comparisons ]), :less_than ],
          [ t(:greater_than, :scope => [ :marketplace, :comparisons ]), :greater_than ],
          [ t(:between, :scope => [ :marketplace, :comparisons ]), :between ] ],
          { :layout => false }, :onchange => "update_feature_comparable(this, #{feature.id})") %>
        <span id="<%= feature.id %>_low_span">
          <%= feature_f.text_field("low", :layout => false, :size => 10) %>
          <% unless feature.units.blank? %>
            <span class="units"><%= feature.units %></span>
          <% end %>
        </span>
        <span id="<%= feature.id %>_dash_span" style="display: none"> - </span>
        <span id="<%= feature.id %>_high_span" style="display: none">
          <%= feature_f.text_field("high", :layout => false, :size => 10) %>
          <% unless feature.units.blank? %>
            <span class="units"><%= feature.units %></span>
          <% end %>
        </span>
      </p>
    <% end %>
  <%- when FeatureType[:boolean] -%>
    <%= f.yes_no_select(feature.id.to_s, :label => label_with_hint, :include_blank => t(:dont_care, :scope => [ :marketplace ])) %>
  <% end -%>
<% end %>
